<div class="m-t-10 m-b-10">
  <div class="form-group">
    <label class="control-label">Chart Type</label>
    <ui-select ng-model="visualization.options.chart.type">
      <ui-select-match placeholder="Choose chart type...">
        <div>
          <i class="fa fa-{{$select.selected.value.icon}}"></i>
          {{$select.selected.value.name}}
        </div>
      </ui-select-match>
      <ui-select-choices repeat="info.chartType as (chartType, info) in chartTypes">
        <div><i class="fa fa-{{ info.value.icon }}"></i><span> </span><span
          ng-bind-html="info.value.name | highlight: $select.search"></span></div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group">
    <label class="control-label">X Column</label>
    <ui-select ng-model="visualization.options.xColumn">
      <ui-select-match placeholder="Choose X Column...">
           <span ng-bind="visualization.options.xColumn">
                </span>
      </ui-select-match>
      <ui-select-choices repeat="name in queryResult.getColumnNames()">
           <span ng-bind="name">
               </span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group">
    <label class="control-label">Y Columns</label>
    <ui-select ng-model="visualization.options.yColumns">
      <ui-select-match placeholder="Choose Y Columns...">
           <span ng-bind="visualization.options.yColumns">
                </span>
      </ui-select-match>
      <ui-select-choices repeat="name in queryResult.getColumnNames()">
           <span ng-bind="name">
               </span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group">
    <label class="control-label">Series Name</label>
    <input class="form-control" ng-model="visualization.options.chart.name">
  </div>
</div>
